h1 {
  font-size: 105px;
  letter-spacing: -4px;
  font-weight: 900;
  margin-bottom: -42px;
  text-align: center;
  color: lightcoral;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 80px;
    margin-bottom: -36px;
  }
}
